Package: classifier
Version: 0.1
Section: web
Priority: optional
Architecture: i386
Essential: no
Depends: libicu48, libglib2.0-0
Maintainer: Carlos Andres Viera <andresvie@gmail.com>
Description: This a Daemon For Classifier Document
